@using HE_THONG_QUAN_LY_CUA_HANG_TIEN_LOI_247_WEB.Models.Entities;

@{

	ViewData["title"] = "Danh Sách Phiếu Nhập";
}
<!-- Main sidebar ở đây nha -->






<main class="app-content">
	<div class="app-title">
		<div>
			<h1><i class="bi bi-box-arrow-in-down"></i> Quản lý Phiếu Nhập</h1>
			<p>Quản lý danh sách phiếu nhập hàng từ nhà cung cấp</p>
		</div>
		<ul class="app-breadcrumb breadcrumb side">
			<li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
			<li class="breadcrumb-item">Quản lý kho hàng</li>
			<li class="breadcrumb-item active">
				<a asp-controller="QuanLyKhoHang" asp-action="DanhSachPhieuNhap">Danh sách phiếu nhập</a>
			</li>
		</ul>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-title-w-btn d-flex justify-content-between align-items-center">
					<h3 class="title" style="margin-bottom: 0">
						Danh Sách Phiếu Nhập
					</h3>
					<a class="btn btn-primary btn-add-khoi" asp-controller="Them" asp-action="ThemNhapKho">
						<i class="fas fa-plus"></i> Tạo phiếu nhập mới
					</a>
				</div>

					<div class="table-responsive">
						<table class="table table-hover table-bordered" id="sampleTable">
							<thead>
								<tr>
									<th>Mã Phiếu Nhập</th>
									<th>Nhà Cung Cấp</th>
									<th>Ngày Nhập</th>
									<th>Tổng Tiền</th>
									<th>Thao tác</th>
								</tr>
							</thead>
							<tbody>
								@{
									if (ViewData["lstPhieuNhap"] != null)
									{
										List<PhieuNhap> phieuNhaps = ViewBag.lstPhieuNhap;
										foreach (PhieuNhap phieuNhap in phieuNhaps)
										{
											<tr>
												<td>@phieuNhap.Id</td>
												<td>@phieuNhap.NhaCungCap.Ten</td>
												<td>@phieuNhap.NgayNhap.ToString("dd/MM/yyyy")</td>
												<td>@phieuNhap.TongTien.ToString("N0") VNĐ</td>
												<td class="text-center">
													<a class="btn btn-info btn-sm me-1 btn-edit-khoi" 
													   asp-controller="QuanLyKhoHang" 
													   asp-action="XemNhapKho"
													   asp-route-id="@phieuNhap.Id"
													   title="Xem chi tiết">
														<i class="fas fa-eye"></i>
													</a>
												</td>
											</tr>
											
										}

									}
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>



















