@using HE_THONG_QUAN_LY_CUA_HANG_TIEN_LOI_247_WEB.Models.Entities;
@model HE_THONG_QUAN_LY_CUA_HANG_TIEN_LOI_247_WEB.Models.Entities.NhanVien
@{

    ViewData["title"] = "Sửa Thông tin Nhân Sự";
    var anhSrc = "https://avatar.iran.liara.run/public/49";
    if (!string.IsNullOrEmpty(Model.AnhId))
    {
        anhSrc = $"/API/HinhAnh/{Model.AnhId}";
    }
}
  <!-- Css riêng ở đây nha -->
  <link rel="stylesheet" href="~/assets/lib/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="~/assets/css/SuaNhanSu.css">


  <!-- Main sidebar ở đây nha -->




  <main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="bi bi-person-plus-fill"></i> Sửa thông tin nhân viên</h1>
        <p>Sửa nhân viên mới và xếp lịch làm việc ban đầu</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
        <li class="breadcrumb-item"><a>Quản lý nhân sự</a></li>
        <li class="breadcrumb-item"><a asp-controller="QuanLyNhanSu" asp-action="DanhSachNhanVien">Danh sách nhân
            viên</a></li>
        <li class="breadcrumb-item"><a asp-controller="Them" asp-action="ThemNhanSu">Thêm nhân viên</a></li>
      </ul>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="tile">
          <h3 class="tile-title">Thông tin Nhân viên</h3>
          <p>Dữ liệu sẽ được lưu vào bảng <strong>NhanVien</strong></p>
          <div class="tile-body">
            <form>

            
              <div class="avatar-upload-container">
                <img class="avatar-preview" id="avatarPreview" src="@anhSrc" alt="Avatar">
                <input class="avatar-edit-input" type="file" id="avatarUpload" accept=".png, .jpg, .jpeg">
                <label class="avatar-edit-label" for="avatarUpload"><i class="bi bi-camera-fill"></i></label>
              </div>

              <div class="mb-3">
                <label class="form-label">Mã nhân viên</label>
                <input class="form-control" type="text" id="Id" readonly value="@Model.Id">
              </div>

              <div class="mb-3">
                <label class="form-label">Họ và tên</label>
                <input class="form-control" type="text" placeholder="V.d: Nguyễn Văn A" id="HoTen" value="@Model.HoTen">
              </div>


              <div class="mb-3">
                <label class="form-label">Giới tính</label>
                <div>
                                @{
                                    bool isGT = Model.GioiTinh;
                                    if (isGT)
                                    {
                                        <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gioiTinh" id="radioNam" value="Nam" checked>
                                        <label class="form-check-label" for="radioNam">Nam</label>
                                        </div>
                                      <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gioiTinh" id="radioNu" value="Nu" >
                                                <label class="form-check-label" for="radioNu">Nữ</label>
                                              </div>
                                    }
                                    else
                                    {  
                                        <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gioiTinh" id="radioNam" value="Nam" >
                                        <label class="form-check-label" for="radioNam">Nam</label>
                                        </div>
                                              <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gioiTinh" id="radioNu" value="Nu" checked>
                                                <label class="form-check-label" for="radioNu">Nữ</label>
                                              </div>
                                    }
                                }
                                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Chức vụ</label>
                <select class="form-select" id="select-chuc-vu">
                                @{
                                    if (Model.ChucVu == "Admin")
                                    {
                                                  <option value="Admin" selected>Admin</option>
                                                  <option value="Quản lí">Quản lí</option>
                                        <option value="Nhân viên">Nhân viên</option>
                                    } else if(Model.ChucVu =="Quản lí")
                                    {
                                                          <option value="Admin">Admin</option>
                  <option value="Quản lí" selected>Quản lí</option>
                                        <option value="Nhân viên">Nhân viên</option>
                                    }
                                    else
                                    {
                                                          <option value="Admin">Admin</option>
                                              <option value="Quản lí">Quản lí</option>
                                              <option value="Nhân viên" selected>Nhân viên</option>
                                    }
                                }
                  <option value="@Model.ChucVu">@Model.ChucVu</option>

                </select>
              </div>

              <div class="mb-3">
                <label class="form-label">Lương cơ bản</label>
                <input class="form-control" type="number" placeholder="V.d: 5000000" id="LuongCoBan" value="@Model.LuongCoBan">
              </div>

              <div class="mb-3">
                <label class="form-label">Số điện thoại</label>
                <input class="form-control" type="tel" placeholder="V.d: 090xxxx123" id="SoDienThoai" value="@Model.SoDienThoai">
              </div>

              <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" type="email" placeholder="V.d: example@gmail.com" id="Email" value="@Model.Email">
              </div>

              <div class="mb-3">
                <label class="form-label">Địa chỉ</label>
                <input class="form-control" type="text" placeholder="V.d: 123 Nguyễn Huệ, Q.1" id="DiaChi" value="@Model.DiaChi">
              </div>

              <div class="mb-3">
                <label class="form-label">Ngày vào làm</label>
                <input class="form-control" type="date" id="NgayVaoLam" value="@Model.NgayVaoLam.ToString("yyyy-MM-dd")">
              </div>

              <div class="mb-3">
                <label class="form-label">Trạng thái</label>
                <select class="form-select" id="select-trang-thai">
                                @{
                                    if(Model.TrangThai=="Hoạt động")
                                    {
                                        <option value="Hoạt động" selected>Hoạt động</option>
                                        <option value="Nghỉ">Nghỉ</option>
                                    }
                                    else
                                    {
                                        <option value="Hoạt động" >Hoạt động</option>
                                        <option value="Nghỉ" selected>Nghỉ</option>
                                    }

                                          
       
                    }
                </select>
              </div>

            </form>
          </div>
          <div class="tile-footer">
            <button class="btn btn-primary" type="button" id="btn-luu-cap-nhat"><i class="bi bi-check-circle-fill me-2"></i>Xác nhận</button>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" asp-controller="QuanLyNhanSu" asp-action="DanhSachNhanVien"><i class="bi bi-x-circle-fill me-2"></i>Huỷ</a>
          </div>
        </div>
      </div>
    </div>
  </main>




  <!-- js riêng ở đây nha! -->
  <script src="~/assets/js/SuaNhanSu.js" asp-append-version="true" defer></Script>
