@using HE_THONG_QUAN_LY_CUA_HANG_TIEN_LOI_247_WEB.Models.Entities;
@model HE_THONG_QUAN_LY_CUA_HANG_TIEN_LOI_247_WEB.Models.Entities.TaiKhoanNhanVien
@{

    ViewData["title"] = "Sửa Thông Tin Tài Khoản";
}
  <!-- Css riêng ở đây nha -->
  <link rel="stylesheet" href="~/assets/lib/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="~/assets/css/SuaTaiKhoan.css">


  <!-- Main sidebar ở đây nha -->




  <main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="bi bi-person-lock"></i> Sửa Tài Khoản</h1>
        <p>Sửa tài khoản truy cập cho nhân viên hoặc khách hàng</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
        <li class="breadcrumb-item"><a>Quản lý bảo mật</a></li>
        <li class="breadcrumb-item"><a asp-controller="QuanLyBaoMat" asp-action="DanhSachTaiKhoanNhanVien">Danh sách tài khoản nhân viên</a></li>
        <li class="breadcrumb-item"><a asp-controller="Sua" asp-action="SuaTaiKhoan">Sửa tài khoản</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="tile">
          <h3 class="tile-title">Thông tin Tài Khoản</h3>
          <div class="tile-body">
            <form>

              <div class="mb-3" id="field-chon-nhan-vien">
                <label class="form-label">Chọn Nhân Viên</label>
                <select class="form-control" id="select-nhan-vien" style="width: 100%;">
                                @if (ViewData["lstNhanVien"] != null)
                                {
                                    List<NhanVien> nvs = ViewBag.lstNhanVien;
                                    foreach (var nv in nvs)
                                    {
                                        // Kiểm tra nếu NhanVienId trong Model trùng với Id của nhân viên
                                        if (Model.NhanVienId == nv.Id)
                                        {
                                            <option value="@nv.Id" selected>@nv.HoTen (@nv.ChucVu)</option>
                                        }
                                        else
                                        {
                                            <option value="@nv.Id">@nv.HoTen (@nv.ChucVu)</option>
                                        }
                                    }
                                }

                </select>
              </div>

              <hr>
              <h5 class="mb-3">Thông tin đăng nhập</h5>

              <div class="mb-3">
                <label class="form-label">Tên đăng nhập</label>
                <input class="form-control" type="text" placeholder="V.d: vana, thib~" value="@Model.TaiKhoan.TenDangNhap">
              </div>

              <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" type="email" id="input-email" placeholder="Email sẽ tự động điền khi chọn người dùng" value="@Model.TaiKhoan.Email">
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Mật khẩu</label>
                    <input class="form-control" type="password">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Xác nhận Mật khẩu</label>
                    <input class="form-control" type="password">
                  </div>
                </div>
              </div>
              
              <div class="mb-3">
                <label class="form-label">Trạng thái</label>
                <select class="form-select" id="select-trang-thai">
                                @{
                                    bool isActive = Model.TaiKhoan.TrangThai == "Active" ? true : false;
                                    if (isActive)
                                    {
                                        <option value="Active" selected>Active</option>
                                        <option value="Inactive" >Inactive</option>
                                    }
                                    else
                                    {
                                        <option value="Active" >Active</option>
                                        <option value="Inactive" selected >Inactive</option>
                                    }
                                }
                </select>
              </div>

              <div class="mb-3" id="field-chon-quyen">
                <label class="form-label">Gán Quyền (Roles)</label>
                <select class="form-control" id="select-quyen" multiple="multiple" style="width: 100%;">
                                @{
                                    if (ViewData["lstRole"] != null)
                                    {
                                        List<Role> roles = ViewBag.lstRole;
                                        foreach (var role in roles)
                                        {
                                            <option value="@role.Code">@role.Ten</option>
                                        }
                                    }
                                }
                </select>
              </div>

            </form>
          </div>
          <div class="tile-footer">
            <button class="btn btn-primary" type="button"><i class="bi bi-check-circle-fill me-2"></i>Tạo tài
              khoản</button>
            <a class="btn btn-secondary" href="#"><i class="bi bi-x-circle-fill me-2"></i>Huỷ</a>
          </div>
        </div>
      </div>
    </div>
  </main>



  <!-- js riêng ở đây nha! -->
  <script src="~/assets/js/SuaTaiKhoan.js" asp-append-version="true" defer></script>
