@using HE_THONG_QUAN_LY_CUA_HANG_TIEN_LOI_247_WEB.Models.Entities

@{

    ViewData["title"] = "Phân Công Ca Làm Việc";
}
  <!-- Main sidebar ở đây nha -->






    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="bi bi-calendar-plus"></i> Phân Công Ca Làm Việc</h1>
          <p>Sắp xếp lịch làm việc cho nhân viên</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
          <li class="breadcrumb-item">Quản lý nhân sự</li>
          <li class="breadcrumb-item active">
            <a href="#">Phân công ca làm việc</a>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div
              class="tile-title-w-btn d-flex justify-content-between align-items-center"
            >
              <h3 class="title" style="margin-bottom: 0">Lịch Phân Công</h3>
                    <a class="btn btn-primary btn-add-khoi" asp-controller="Them" asp-action="ThemPhanCongCaLamViec" >
                <i class="fas fa-plus"></i> Thêm phân công mới
              </a>
            </div>

            <div class="tile-body" >
              <div class="row mb-3">
                <div class="col-md-3">
                  <label class="form-label">Tên nhân viên</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Tìm theo tên hoặc mã NV..."
                  />
                </div>
                <div class="col-md-3">
                  <label class="form-label">Tên ca</label>
                  <select class="form-select">
                    <option value="">Tất cả các ca</option>
                                @{
                                    if (ViewData["lstCaLamViec"] != null)
                                    {
                                        List<CaLamViec> clvs = ViewBag.lstCaLamViec;
                                        foreach(var clv in clvs)
                                        {
                                            <option value="">@clv.TenCa</option>
                                        }
                                    }
                                }
                  </select>
                </div>
                <div class="col-md-3">
                  <label class="form-label">Chọn ngày</label>
                  <input class="form-control" type="date" />
                </div>
                <div class="col-md-3 d-flex align-items-end">
                  <button class="btn btn-primary btn-add-khoi" type="button">
                    <i class="fas fa-filter"></i> Lọc
                  </button>
                </div>
              </div>

              <div class="table-responsive">
                <table
                  class="table table-hover table-bordered"
                  id="sampleTable"
                >
                  <thead>
                    <tr>
                      <th>Ngày</th>
                      <th>Tên Nhân Viên</th>
                      <th>Tên Ca</th>
                      <th>Giờ Bắt Đầu</th>
                      <th>Giờ Kết Thúc</th>
                      <th>Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    @* <tr>
                      <td>02/11/2025</td>
                      <td>John Doe</td>
                      <td>Ca Sáng</td>
                      <td>08:00:00</td>
                      <td>17:00:00</td>
                      <td class="text-center">
                        <a
                          class="btn btn-info btn-sm me-1 btn-edit-khoi "
                         
                                           asp-controller="Sua" asp-action="SuaPhanCongCaLamViec"
                          title="Sửa"
                        >
                          <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-sm btn-delete-khoi" href="#" title="Xóa">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                      </td>
                    </tr> *@
                                @{
                                    if (ViewData["lstPhanCong"] != null)
                                    {
                                        List<PhanCongCaLamViec> pcs = ViewBag.lstPhanCong;
                                        foreach (var pc in pcs)
                                        {
                                            <tr>
                                                <td>@pc.Ngay</td>
                                                <td>@pc.NhanVien.HoTen</td>
                                                <td>@pc.CaLamViec.TenCa</td>
                                                <td>@pc.CaLamViec.ThoiGianBatDau</td>
                                                <td>@pc.CaLamViec.ThoiGianKetThuc</td>
                                                <td class="text-center">
                                                    <a class="btn btn-info btn-sm me-1 btn-edit-khoi " 
                                                       asp-controller="Sua" asp-action="SuaPhanCongCaLamViec" asp-route-id="@pc.Id"
                                                       title="Sửa">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-danger btn-sm btn-delete-khoi" href="#" title="Xóa">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
       
             
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="~/assets/js/SuaPhanCong.js"></script>


