@using HE_THONG_QUAN_LY_CUA_HANG_TIEN_LOI_247_WEB.Models.Entities;

@{

    ViewData["title"] = "Danh Sách Tài Khoản Nhân Viên";
}
  <!-- Main sidebar ở đây nha -->






    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="bi bi-shield-lock"></i> Quản lý Tài khoản Nhân viên</h1>
          <p>Cấp và quản lý tài khoản truy cập cho nhân viên</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
          <li class="breadcrumb-item">Quản lý bảo mật</li>
          <li class="breadcrumb-item active"><a asp-controller="QuanLyBaoMat" asp-action="DanhSachTaiKhoanNhanVien">Tài khoản nhân viên</a>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div
              class="tile-title-w-btn d-flex justify-content-between align-items-center"
            >
              <h3 class="title" style="margin-bottom: 0">
                Danh Sách Tài Khoản
              </h3>
                    <a class="btn btn-primary btn-add-khoi" asp-controller="Them" asp-action="ThemTaiKhoan" asp-route-loai="nhanvien">
                <i class="fas fa-plus"></i> Tạo tài khoản mới
              </a>
            </div>

            <div class="tile-body">
              <div class="table-responsive">
                <table
                  class="table table-hover table-bordered"
                  id="sampleTable"
                >
                  <thead>
                    <tr>
                      <th>Tên Đăng Nhập</th>
                      <th>Tên Nhân Viên</th>
                      <th>Email</th>
                      <th>Vai Trò (Role)</th>
                      <th >Trạng Thái</th>
                      <th>Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    @* <tr>
                      <td>admin</td>
                      <td>John Doe</td>
                      <td>admin@example.com</td>
                      <td>Quản trị viên (Admin)</td>
                      <td >
                        <span class="badge bg-success">Hoạt động</span>
                      </td>
                      <td class="text-center">
                        <a
                          class="btn btn-info btn-sm me-1 btn-edit-khoi " asp-controller="Sua" asp-action="SuaTaiKhoan" "
                          title="Sửa"
                        >
                          <i class="fas fa-user-edit"></i>
                        </a>
                        <a
                          class="btn btn-secondary btn-sm me-1"
                          href="#"
                          title="Đặt lại mật khẩu"
                        >
                          <i class="fas fa-key"></i>
                        </a>
                      </td>
                    </tr> *@
                                @{
                                    if (ViewData["lstTKNV"] != null)
                                    {
                                        List<TaiKhoanNhanVien> taiKhoanNhanViens = ViewBag.lstTKNV;
                                        foreach(var tknv in taiKhoanNhanViens)
                                        {
                                            bool isActive = string.Equals(tknv.TaiKhoan.TrangThai, "Hoạt động", StringComparison.OrdinalIgnoreCase);

                                            <tr>
                                                <td>@tknv.TaiKhoan.TenDangNhap</td>
                                                <td>@tknv.NhanVien.HoTen</td>
                                                <td>@tknv.NhanVien.Email</td>
                                                <td>@String.Join(", ", tknv.TaiKhoan.UserRoles.Select(x => x.Role.Ten.ToString()))</td>
                                                <td>
                                                    @{
                                                        if (isActive)
                                                        {
                                                            <span class="badge bg-success">@tknv.TaiKhoan.TrangThai</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge bg-danger">@tknv.TaiKhoan.TrangThai</span>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    <a class="btn btn-info btn-sm me-1 btn-edit-khoi " asp-controller="Sua" asp-action="SuaTaiKhoan"
                                                       title="Sửa" asp-route-TaiKhoanId="@tknv.TaiKhoanId" asp-route-NhanVienId="@tknv.NhanVienId">
                                                        <i class="fas fa-user-edit"></i>
                                                    </a>
                                                    <a class="btn btn-secondary btn-sm me-1 btn-reset-password"
                                                       href="#" title="Đặt lại mật khẩu" data-id="@tknv.TaiKhoanId">
                                                        <i class="fas fa-key"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }

                    

                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="~/assets/js/DanhSachTaiKhoanNV.js" asp-append-version="true" defer></script>









