@using HE_THONG_QUAN_LY_CUA_HANG_TIEN_LOI_247_WEB.Models.Entities;
@model HE_THONG_QUAN_LY_CUA_HANG_TIEN_LOI_247_WEB.Models.Entities.TaiKhoanKhachHang
@{

    ViewData["title"] = "Lịch Sử Mua Hàng";
}
  <!-- Main sidebar ở đây nha -->







  <main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="bi bi-calendar-check"></i> Lịch sử Mua hàng</h1>
        <p>Chi tiết các hoá đơn của khách hàng</p>
      </div>
      <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
            <li class="breadcrumb-item active"><a asp-controller="QuanLyBaoMat" asp-action="DanhSachTaiKhoanKhachHang"> Tài khoản khách hàng</a>
        <li class="breadcrumb-item active"><a href="#">Lịch sử mua hàng</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Thông tin Khách hàng</h3>
          <div class="tile-body">
            <div class="row">
              <div class="col-md-6">
                <p><strong>Tên Khách Hàng:</strong> @Model.KhachHang.HoTen</p>
                <p><strong>Số Điện Thoại:</strong> @Model.KhachHang.SoDienThoai</p>
              </div>
              <div class="col-md-6">
                <p><strong>Email:</strong> @Model.KhachHang.Email</p>
                <p><strong>Địa chỉ:</strong> @Model.KhachHang.DiaChi</p>
              </div>
            </div>
            <hr>
                    @* @{
                        if (ViewData["lstTTV"] != null)
                        {
                            List<TheThanhVien> ttvs = ViewBag.lstTTV;
                                        foreach(var ttv in ttvs)
                            {
                                <p>
                                    <strong>Thẻ Thành Viên:</strong> Hạng <span class="badge bg-warning">@ttv.Hang</span> - <strong>
                                        @ttv.DiemTichLuy
                                        điểm
                                    </strong> (Ngày cấp: @ttv.NgayCap.ToString("dd/MM/yyyy"))
                                </p>
                            }
                        }

                    } *@
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Danh sách Hoá đơn đã mua</h3>

          @* <div class="accordion" id="historyAccordion">

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <strong>Mã Hoá Đơn: HD001</strong> &nbsp; | &nbsp; Ngày mua: 01/11/2025 &nbsp; | &nbsp; <span
                    class="ms-auto fw-bold text-primary">Tổng tiền: 150,000 đ</span>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#historyAccordion">
                <div class="accordion-body">
                  <h5 class="mb-3">Chi tiết hoá đơn HD001 (Bảng ChiTietHoaDon )</h5>
                  <table class="table table-sm table-bordered">
                    <thead>
                      <tr>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Sting Dâu (Chai)</td>
                        <td>2</td>
                        <td>10,000 đ</td>
                        <td>20,000 đ</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div> *@
                @{
                    if (ViewData["lstHD"] != null && ViewData["lstLSMH"]!=null)
                    {
                        List<HoaDon> hds = ViewBag.lstHD;
                        // List<LichSuMuaHang> lsmhs=
                        foreach(var hd in hds)
                        {
                            // if (hd.Id==LichSuMuaHang.id)
                            // {
                                // <div class="accordion" id="historyAccordion">

                                //     <div class="accordion-item">
                                //         <h2 class="accordion-header" id="headingOne">
                                //             <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                //                     aria-expanded="true" aria-controls="collapseOne">
                                //                 <strong>Mã Hoá Đơn: HD001</strong> &nbsp; | &nbsp; Ngày mua: 01/11/2025 &nbsp; | &nbsp; <span class="ms-auto fw-bold text-primary">Tổng tiền: 150,000 đ</span>
                                //             </button>
                                //         </h2>
                                //         <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                //              data-bs-parent="#historyAccordion">
                                //             <div class="accordion-body">
                                //                 <h5 class="mb-3">Chi tiết hoá đơn HD001 (Bảng ChiTietHoaDon )</h5>
                                //                 <table class="table table-sm table-bordered">
                                //                     <thead>
                                //                         <tr>
                                //                             <th>Sản phẩm</th>
                                //                             <th>Số lượng</th>
                                //                             <th>Đơn giá</th>
                                //                             <th>Thành tiền</th>
                                //                         </tr>
                                //                     </thead>
                                //                     <tbody>
                                //                         <tr>
                                //                             <td>Sting Dâu (Chai)</td>
                                //                             <td>2</td>
                                //                             <td>10,000 đ</td>
                                //                             <td>20,000 đ</td>
                                //                         </tr>

                                //                     </tbody>
                                //                 </table>
                                //             </div>
                                //         </div>
                                //     </div>
                                    // }
                        }
                    }
                }
            

          </div>
        </div>
        
      </div>
    </div>
  </main>











