@using HE_THONG_QUAN_LY_CUA_HANG_TIEN_LOI_247_WEB.Models.Entities;

@{

    ViewData["title"] = "Danh Sách Khách Hàng";
}
<!-- Main sidebar ở đây nha -->







<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="bi bi-people"></i> Quản lý Khách hàng</h1>
            <p>Quản lý thông tin khách hàng và thành viên</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
            <li class="breadcrumb-item">Quản lý khách hàng</li>
            <li class="breadcrumb-item active">
                <a href="#">Danh sách khách hàng</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-title-w-btn d-flex justify-content-between align-items-center">
                    <h3 class="title" style="margin-bottom: 0">
                        Danh Sách Khách Hàng
                    </h3>
                    <a class="btn btn-primary btn-add-khoi" asp-controller="Them" asp-action="ThemKhachHang">
                        <i class="fas fa-plus"></i> Thêm khách hàng mới
                    </a>
                </div>

                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered"
                               id="sampleTable">
                            <thead>
                                <tr>
                                    <th>Mã Khách Hàng</th>
                                    <th>Họ Tên</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Email</th>
                                    <th>Địa Chỉ</th>
                                    <th>Ngày Đăng Ký</th>
                                    <th>Trạng Thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @* <tr>
                      <td>KH001</td>
                      <td>Nguyễn Văn A</td>
                      <td>0901234567</td>
                      <td>nguyenvana@gmail.com</td>
                      <td>123 Đường ABC, Q.1, TP.HCM</td>
                      <td>01/10/2025</td>
                      <td> 
                        <span class="badge bg-success">Hoạt động</span>
                      </td>
                      <td class="text-center">
                        <a
                          class="btn btn-info btn-sm me-1 btn-edit-khoi "
                                           asp-controller="Sua" asp-action="SuaKhachHang"
                          title="Sửa"
                        >
                          <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-sm btn-delete-khoi" href="#" title="Xóa">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                      </td>
                    </tr> *@
                                @{
                                    if (ViewData["lstKhachHang"] != null)
                                    {
                                        List<KhachHang> khs = ViewBag.lstKhachHang;
                                        foreach (KhachHang kh in khs)
                                        {
                                            <tr>
                                                <td>@kh.Id</td>
                                                <td>@kh.HoTen</td>
                                                <td>@kh.SoDienThoai</td>
                                                <td>@kh.Email</td>
                                                <td>@kh.DiaChi</td>
                                                <td>@kh.NgayDangKy.ToString("dd/MM/yyyy")</td>
                                                <td>
                                                    <span class="badge bg-success">@kh.TrangThai</span>
                                                </td>
                                                <td class="text-center">
                                                    <a class="btn btn-info btn-sm me-1 btn-edit-khoi "
                                                       asp-controller="Sua" asp-action="SuaKhachHang"
                                                       title="Sửa">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-danger btn-sm btn-delete-khoi" href="#" title="Xóa">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>








